# Quiz 3

**Author:**

**Exercise 1:** 

1. Import the nobel price data frame using pandas.

2. Explore the data set: 

    2.1. Print the first five rows of the table.

    2.2. Print all the columns in the table.

    2.3. Print the types of all the columns in the table.

    2.4. Would the describe function give us any useful information of this data? (answer based on the data types of the columns).

3. Select only the gender column. Using a lambda function and the filter function, calculate the number and proportion of woman who have won the nobel price.

4. Select the column gender and save it in an object called ```g```. Do the same with the column category, and save it in an object called ```c```. Create a new object ```gc = g + c``` and print the content. 

5. Use the object ```gc```, a lambda function and the filter function to calculate the number and proportion of females that have won the economics novel price. Compare that number with the total number of females that have won any nobel price (from question 3)

In [1]:
import pandas as pd
import os
os.getcwd()

'/home/ec2-user/SageMaker/quiz-3-JonathanWry'

In [31]:
nobel=pd.read_csv('/home/ec2-user/SageMaker/quiz-3-JonathanWry/data/nobel_prize.csv')
print("first 5 rows:\n",nobel.head())
print("columns:\n",nobel.columns)
print("types:\n",nobel.dtypes)
print("describe function:",nobel.describe())
#972 index and id but only 966 year, so there is missing data.mean year is approximately 1970 andmean share is about 2; the year ends in 2016

num_f=len(list(filter(lambda x: x=='female', nobel['gender'])))
proportion=num_f/len(list(nobel['gender']))
print("total female:\n",num_f)
print("total porportion\n",proportion)

g=nobel['gender']
c=nobel['category']
gc=g+c
print("gc:\n",gc)

ge=len(list(filter(lambda x:x=='femaleeconomics', gc)))
print("ge\n",ge)
print("females getting economic nobel price is ",100*ge/num_f, "proportion of total female nobel price winners")

first 5 rows:
    index   id         firstname  surname        born        died bornCountry  \
0      0  846            Elinor   Ostrom    8/7/1933   6/12/2012         USA
1      1  846            Elinor   Ostrom    8/7/1933   6/12/2012         USA
2      2  783      Wangari Muta  Maathai    4/1/1940   9/25/2011       Kenya
3      3  230  Dorothy Crowfoot  Hodgkin   5/12/1910   7/29/1994       Egypt
4      4  918            Youyou       Tu  12/30/1930  0000-00-00       China

  bornCountryCode         bornCity     diedCountry  ...           diedCity  \
0              US  Los Angeles, CA             USA  ...    Bloomington, IN
1              US  Los Angeles, CA             USA  ...    Bloomington, IN
2              KE            Nyeri           Kenya  ...            Nairobi
3              EG            Cairo  United Kingdom  ...  Shipston-on-Stour
4              CN  Zhejiang Ningbo             NaN  ...                NaN

   gender    year   category overallMotivation share  \
0  female  2009.0  economics               NaN   2.0
1  female  2009.0  economics               NaN   2.0
2  female  2004.0      peace               NaN   1.0
3  female  1964.0  chemistry               NaN   1.0
4  female  2015.0   medicine               NaN   2.0

                                          motivation  \
0  "for her analysis of economic governance, espe...
1  "for her analysis of economic governance, espe...
2  "for her contribution to sustainable developme...
3  "for her determinations by X-ray techniques of...
4  "for her discoveries concerning a novel therap...

                                            name             city  \
0                             Indiana University  Bloomington, IN
1                       Arizona State University        Tempe, AZ
2                                            NaN              NaN
3            University of Oxford, Royal Society           Oxford
4  China Academy of Traditional Chinese Medicine          Beijing

          country
0             USA
1             USA
2             NaN
3  United Kingdom
4           China

[5 rows x 21 columns]
columns:
 Index(['index', 'id', 'firstname', 'surname', 'born', 'died', 'bornCountry',
       'bornCountryCode', 'bornCity', 'diedCountry', 'diedCountryCode',
       'diedCity', 'gender', 'year', 'category', 'overallMotivation', 'share',
       'motivation', 'name', 'city', 'country'],
      dtype='object')
types:
 index                  int64
id                     int64
firstname             object
surname               object
born                  object
died                  object
bornCountry           object
bornCountryCode       object
bornCity              object
diedCountry           object
diedCountryCode       object
diedCity              object
gender                object
year                 float64
category              object
overallMotivation     object
share                float64
motivation            object
name                  object
city                  object
country               object
dtype: object
describe function:             index          id         year       share
count  972.000000  972.000000   966.000000  966.000000
mean   485.500000  471.365226  1970.145963    2.005176
std    280.736531  275.012711    32.889742    0.930193
min      0.000000    1.000000  1901.000000    1.000000
25%    242.750000  230.750000  1947.000000    1.000000
50%    485.500000  463.500000  1976.000000    2.000000
75%    728.250000  720.250000  1999.000000    3.000000
max    971.000000  934.000000  2016.000000    4.000000
total female:
 50
total porportion
 0.051440329218107
gc:
 0      femaleeconomics
1      femaleeconomics
2          femalepeace
3      femalechemistry
4       femalemedicine
            ...
967           orgpeace
968           orgpeace
969           orgpeace
970           orgpeace
971           orgpeace
Length: 972, dtype: object
ge
 2
females getting economic nobel price is  4.0 proportion of total female nobel price winners